* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.container {}

.container_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px;
}

.container_title_right {
    display: flex;
    align-items: center;
}

.container_title_right_logo {
    margin-right: 40px;
}

.container_title_right_logo img {
    width: 96px;
}

.container_title_right_name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
}

.container_title_left {
    display: flex;
    align-items: center;
    width: 475px;
    margin-right: 140px;
}

.container_title_left_search {
    width: 330px;
    height: 30px;
    position: relative;
    background-color: #F3F4F6;
}

.container_title_left_search i {
    top: 7px;
    left: 10px;
    position: absolute;
}

.container_title_left_search input {
    width: 295px;
    height: 26px;
    position: absolute;
    right: 0px;
    border: none;
    background-color: #F3F4F6;
}

.container_title_left_icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 135px;
    margin-left: 10px;
}

.container_category {
    margin-top: 55px;
    margin-left: 140px;
    display: flex;
}

.container_Producttitle {
    font-size: 25px;
    margin-left: 140px;
    margin-top: 10px;
}

.container_below_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 140px;
}

.container_below_product_rate {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-size: 10px;
}

.container_below_product_icon {
    display: flex;
    align-items: center;
    margin-right: 160px;
    font-size: 14px;
}

.container_below_product_icon_share {
    display: flex;
    align-items: center;
}

.container_below_product_icon_save {
    display: flex;
    align-items: center;
    margin-left: 50px;
}